$default-color: #ccc;
$full-color: #000;

.content {
  height: 500px;

  .row {
    display: flex;

    .cell {
      width: 21px;
      height: 21px;
      border: 1px solid $default-color;
      padding: 2px;
      margin: 2px;
      box-sizing: border-box;

      .cell-content {
        background: $default-color;
        height: 100%;
        width: 100%;
      }
    }
    .full-cell {
      border-color: $full-color;
      .cell-content {
        background-color: $full-color;
      }
    }
  }

}